h1, h2{
color:#66BB6A;
font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
color:#204221;
font-family: Arial, Helvetica, sans-serif;
}
h3{
color:green
}
a{
font-family: cursive;
}
body {
    background-color: #E8F5E9
}