<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/style_recipe.css">
    <title>Potrero - Receta 1</title>
</head>

<body>
    <body class="fondo-receta1">
    <h1>Receta de Lasaña</h1>
    <img width="500px" height="250px" src="../../public/images/img_lasaña.jpg" alt="Lasaña">
    <h2>¿Querés preparar una lasaña y no sabés cómo?</h2>
    <p>Acá podés aprender a hacer una lasaña de carne, una receta fácil y deliciosa</p>
    <hr>

    <h3>Lista de Ingredientes para la Salsa:</h3>
    <ul>
        <li>Carne molida</li>
        <li>Tomate natural</li>
        <li>Panceta</li>
        <li>Cebolla</li>
        <li>Aceite</li>
        <li>Pasta para lasaña</li>
    </ul>

    <h3>Preparación de la Salsa:</h3>
    <ol>
        <li>Retirar la piel de la panceta y cortarla en pequeños cuadraditos y llevar a fuego medio</li>
        <li>Cortar las verduras en cuadrados pequeños y remover la panceta</li>
        <li>Añadir junto con la panceta las verduras con un poco de aceite y sal</li>
        <li>Cocinar a fuego medio y añadir la carne</li>
        <li>Añadir salsa de Tomate y dejar hervir</li>
        <li>Una vez que empieza a hervir, najar el fuego y poner la tapa</li>
        <li>Salpimentar a gusto</li>
        <li>¡Salsa lista!</li>
        
        <br>
        <iframe width="500px" height="250px" src="https://www.youtube.com/embed/s_FLKOlGQ4c" title="LASAGNA ORIGINAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ol>

    <a href="https://www.recetasdesbieta.com/lasagna-original/">Leer Receta completa aquí</a>
    <br>
    <a href="Receta_2.html">Ver: Receta de Helado</a>
    <br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>