<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta de Helado</h1>
    <h2>¡Prepara Helado fácilmente!</h2>
    <p>Para esta receta, no te hace falta preocuparte por usar máquina. ¡No es necesaria!</p>
    <hr>
    <h3>Lista de Ingredientes:</h3>
    <ul>
        <li>500g de Dulce de Leche, pero no del repostero</li>
        <li>250g de Crema de Leche </li>
        <li>250g de Leche</li>
    </ul>

    <h3>Pasos a seguir:</h3>
    <ol>
        <li>Mezclar de a poco en un bol el dulce de leche con la crema de leche. La crema tiene que estar líquida, sin batir. Batir hasta unir bien.</li>
        <li>Agregar la leche e integrá bien</li>
        <li>Llevar el bol al freezer por 2 o 3 horas</li>
        <li> Cuando tome consistencia, desintegralo y batilo bien de nuevo. Llevar otra vez al freezer.</li>
        <li>Opcional: agregar nueces, chocolate, etc</li>
    </ol>

    <a href="https://www.paulinacocina.net/helado-de-dulce-de-leche-casero/8679/">Receta completa aquí</a>
    <br>
    <a href="Receta_1.html">Receta de Lasaña</a>
    <br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>